<h1>Serious Lunch</h1>

<p>Hi <%= @account.name %>,</p>

<p>
  Welcome to the Serious Lunch! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@account.activation_token, email: @account.email) %>
