<%= form_for(@lunch) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :comment, placeholder: "Compose lunch comment..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
