<footer class="footer">
  <small>
    The <%= link_to "Serious Lunch", "https://github.com/dyoshimitsu/serious-lunch", target: :_blank %>
    by <%= link_to "dyoshimitsu", "https://github.com/dyoshimitsu", target: :_blank %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
